<section class="container">
  <form class="formulario" >
    <h2 class="formulario__titulo">Filtros</h2>

    <div class="form-field">
      <label class="form-field__label" for="filialde">Filial Inicial</label>
        <select class="form-field__input" name="filialde">
        <option value="filial"></option>
        <option value="d mg 01">D MG 01</option>
        <option value="m sp 01">M SP 01</option>
        <option value="d rj 02">D RJ 01</option>
      </select>
    </div>
    <div class="form-field">
      <label class="form-field__label" for="filialde">Filial Final</label>
        <select class="form-field__input" name="filialate">
        <option value="filial">ZZZZZZZZ</option>
        <option value="d mg 01">D MG 01</option>
        <option value="m sp 01">M SP 01</option>
        <option value="d rj 01">D RJ 01</option>
      </select>
    </div>
    <div class="form-field">
      <label class="form-field__label" for="pedidode">Pedido Inicial</label>
        <select class="form-field__input" name="pedidode">
        <option value="pedido"></option>
        <option value="000001">000001</option>
        <option value="000002">000002</option>
        <option value="000003">000003</option>
      </select>
    </div>
    <div class="form-field">
      <label class="form-field__label" for="pedidoate">Pedido Final</label>
        <select class="form-field__input" name="pedidoate">
        <option value="pedido">ZZZZZZ</option>
        <option value="000001">000001</option>
        <option value="000002">000002</option>
        <option value="000003">000003</option>
      </select>
    </div>
    <div class="form-field">
      <label class="form-field__label" for="datade">Data Inicial</label>
      <input class="form-field__input" id="datade" type="date">
    </div>
    <div class="form-field">
      <label class="form-field__label" for="dataate">Data Final</label>
      <input class="form-field__input" id="dataate" type="date">
    </div>
    <div class="form-field">
      <label class="form-field__label" for="cepde">Cep Inicial</label>
        <select class="form-field__input" name="cepde">
        <option value="cep"></option>
        <option value="07500000">07500000</option>
        <option value="08730000">08730000</option>
        <option value="08512000">08512000</option>
      </select>
    </div>
    <div class="form-field">
      <label class="form-field__label" for="cepate">Cep Final</label>
        <select class="form-field__input" name="cepate">
        <option value="cep">ZZZZZZZ</option>
        <option value="07500000">07500000</option>
        <option value="08730000">08730000</option>
        <option value="08512000">08512000</option>
      </select>
    </div>
    <div class="botao-wrapper">
      <button class="botao" type="submit">Filtrar</button>
      <button class="botao" type="submit">Limpar</button>
    </div>
  </form>
</section>
